.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px; /* Puedes ajustar el espacio vertical */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Ajusta el espacio entre los logos */
}

.logo {
  width: 100px;  /* Ajusta el tamaño de los logos */
  opacity: 0.5;
  transition: opacity 0.3s;
}

.logo.highlighted {
  opacity: 1;
  transform: scale(1.2);
  border: 2px solid blue;
}

.button {
  width: 50px;  /* Ajusta el tamaño de los botones */
  height: auto;
  margin: 0 20px; /* Ajusta la separación de los botones respecto a los logos */
  cursor: pointer;
}
